.aboutContainer {
  position: relative;
  padding-top: 50px;
  max-width: 1770px;
  margin: 0 auto;
  overflow: hidden;
}
.heading {
  margin-top: 50px;

}
.accentText {
  color: var(--color-brand-normal);
  font-size: 40px;
}
.infoSection {
  margin: 50px auto 0;
  padding: 0 150px;
}
.aboutStory {
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 1px;
  text-indent: 20px;
}
.image {
  max-width: 300px;
}
.imageOne {
  clip-path: circle();
  float: left;
  shape-outside: circle(45%);
  transform: translate(-15%);
}
.imageTwo {
  clip-path: ellipse();
  float: right;
  shape-outside: ellipse(45%);
  transform: translate(15%);
  height: 300px;
}
.heroSection {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 2fr 0 2fr;
  padding: 100px;
  gap: 80px;
}
.verticalLine {
  border-left: 5px solid var(--color-brand-normal);
  width: 100%;
}
.horizontalLine {
  display: none;
}
.quotation {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  place-self: center;
}
.story {
  line-height: 150%;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 860px) {
  .aboutContainer {
    margin-top: 100px;
  }
  .heading {
    margin-top: 80px;
  }
  .infoSection {
    padding: 0 50px;
  }
  .image {
    max-width: 200px;
  }
  .imageTwo {
    height: 250px;
  }
  .heroSection {
    grid-template-columns: 1fr;
  }
  .verticalLine {
    display: none;
  }

  .horizontalLine {
    display: block;
    border: none;
    height: 5px;
    background-color: var(--color-brand-normal);
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .infoSection {
    padding: 0 50px;
  }
  .aboutStory {
    font-size: 15px;
  }
  .heroSection {
    padding: 50px;
    gap: 40px;
  }
  .quotation {
    font-size: 20px;
  }
  .story {
    font-size: 15px;
  }
}
