.contactsContainer {
  padding-top: 50px;
  position: relative;
  max-width: 1770px;
  margin: 0 auto;
}
.heading {
  margin-top: 100px;
}
.accentText {
  color: var(--color-brand-normal);
  font-size: 40px;
}
.imageContainer {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
}
.imageContainer img {
  height: 250px;
  max-width: 350px;
  width: 100%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.imageOne {
  transform: rotate(-12deg);
}
.imageTwo {
  transform: rotate(10deg);
}
.imageThree {
  transform: rotate(-5deg);
}
.contactInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 0;
  gap: 100px;
}
.information {
  list-style: none;
}
.infoItem {
  list-style-image: url(../../images/bullet.png);
  font-size: 20px;
}
.map {
  width: 550px;
  height: 350px;
  border: 3px solid var(--color-brand-normal);
  border-radius: 10px;
}

@media screen and (max-width: 1190px) {
  .imageContainer img {
    height: 150px;
    max-width: 250px;
  }
  .contactInfo {
    flex-direction: column;
  }
  .map {
    width: 90vw;
  }
}
@media screen and (max-width: 860px) {
  .imageContainer img {
    height: 100px;
    max-width: 150px;
  }
  .contactsContainer {
    margin-top: 100px;
  }
}
@media screen and (max-width: 550px) {
  .imageContainer {
    flex-direction: column;
    align-items: center;
  }
.imageContainer img{
  height: 150px;
  max-width: 200px;
}
 /*  .imageOne,
  .imageTwo,
  .imageThree {
    transform: rotate(0);
  } */
  .map {
    width: 80vw;
    height: 150px;
  }
}
