.button {
  height: 48px;
  width: 200px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.iconSvg {
  width: 30px;
}
.btnContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.primary {
  background-color: var(--color-brand-normal);
  color: var(--color-primary-light);
  font-size: 18px;
}
.primary:hover {
  opacity: 0.5;
}
.primary:active {
  opacity: 1;
  background-color: var(--color-brand-dark);
}
.padding-even {
  padding: 12px 25px;
}
.padding-sm {
  padding: 12px 14px 12px 23px;
}
.padding-bg {
  padding: 12px 48px;
}
.padding-header-even {
  padding: 8px;
}
.padding-header-bg {
  padding: 6px 2px;
}
.padding-header-sm {
  padding: 0px 0px 8px 8px;
}
.full-width {
  width: 100%;
}
.disabled {
  background-color:var( --gray-color);
  color: var(--color-primary-light);
  font-size: 18px;
  cursor: auto;
}
@media screen and (max-width: 860px){
  .button {
  height: 40px;
  width: 150px;
  font-size: 15px;
}
}
