.carouselContainer {
  margin-top: 50px;
}
.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}
.slide {
  width: 100%;
  height: 500px;
  border-radius: 30px;
}
.slide-hidden {
  display: none;
}
.arrow {
  position: absolute;
  border-radius: 30px;
  background: var(--color-brand-normal);
  padding: 15px;
}
.arrow:hover {
  background: var(--color-brand-dark);
}
.arrow-left {
  left: 1rem;
}
.arrow-right {
  right: 1rem;
}
.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}
.indicator {
  background-color: var(--color-brand-normal);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: none;
  margin-right: 6px;
  cursor: pointer;
}
.indicator-inactive {
  background-color: var(--color-brand-dark);
}

@media screen and (max-width: 1190px) {
  .indicators {
    bottom: -24px;
  }
  .indicator {
    width: 8px;
    height: 8px;
  }
}
@media screen and (max-width: 860px) {
  .arrow {
    display: none;
  }
  .slide {
    height: 450px;
  }
}
@media screen and (max-width: 510px) {
  .slide {
    height: 300px;
  }
}
