.container {
  margin-bottom: 12px;
  padding: 24px 32px;
  overflow: hidden;
}

.headerBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-brand-normal);
  padding: 10px;
}
.icon{
  cursor: pointer;
}

.titleCart {
  font-size: 32px;
  font-weight: 500;
  line-height: 41.6px;
  color: white;
}

.bottom {
  padding: 16px 16px 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total {
  font-size: 22px;
  line-height: 24px;
}
.total b {
  margin: 0;
  font-size: 22px;
  line-height: 24px;
}

/* @include sm {
  .container {
    padding: 16px;
    overflow: unset;
  }
  .title {
    font-size: 22px;
    font-weight: 600;
    line-height: 28.6px;
  }
  .bottom {
    padding: 16px 16px 46px;
    flex-direction: column;
  }
  .total {
    justify-content: space-between;
    padding-bottom: 24px;
    b {
      margin: 0;
    }
  }
} */
