.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  gap: 15px;
}
.listItem {
  list-style-image: url(../../images/bullet.png);
  font-size: 20px;
}

@media screen and (max-width: 860px) {
  .listItem{
    font-size: 12px;
  }
  .list{
    margin-left: 50px;
  }
}
