.supportButtonContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  top: 50%;
  right: 50px;
  height: 164px;
  z-index: 10;
}
.text {
  margin-top: 50%;
}

.visible {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.messageButton,
.phoneButton {
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease, pointer-events 0.5s;
}
.visible .messageButton,
.visible .phoneButton {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.messageButton.hidden {
  opacity: 0;
  transform: translateY(100px);
  pointer-events: none;
}

.phoneButton.hidden {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}

.iconFill {
  border-radius: 30px;
  background: var(--color-brand-normal);
  padding: 15px;
}
.iconFill:hover {
  background: var(--color-brand-dark);
}
.iconNoFill {
  border-radius: 30px;
  padding: 15px;
  background: var(--color-primary-light);
  border: 1px solid var(--color-primary-light);
}
.iconNoFill:hover {
  background-color: var(--color-brand-dark);
}
