.footerContainer {
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 20px;
  background-color: var(--color-primary-dark);
  height: 150px;
  max-width: 1770px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  color: var(--color-primary-light);
  padding: 0 50px;
}
.information {
  list-style: none;
  line-height: 150%;
  letter-spacing: 0.5px;
}
.quotation {
  font-size: 40px;
  font-family: "Dancing Script", cursive;
  text-align: center;
  transform: rotate(-8deg);
}
.socialmedia {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 1190px) {
  .quotation {
    font-size: 25px;
  }
  .information {
    font-size: 12px;
  }
}
@media screen and (max-width: 860px) {
  .footerContainer {
    padding: 0 20px;
  }
  .information {
    font-size: 10px;
  }
  .quotation {
    font-size: 25px;
  }
  .socialmedia {
    gap: 10px;
  }
}
@media screen and (max-width: 510px) {
  .footerContainer {
    flex-direction: column-reverse;
    height: fit-content;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .information {
    text-align: center;
  }
}
